@{
    ViewData["Title"] = "Rezerwacja";
    Rooms rooms = ViewData["rooms"] as RoomManagement1.Models.Rooms;
}
@model RoomManagement1.Models.RoomData;



<h1>Rezerwuj sale</h1>

<hr />
<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Rezerwacja" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Numer" class="control-label">
                    Numer: <select style="margin-top:5%;" asp-for="@Model.Numer">
                        @foreach (var x in rooms.rooms)
                        {
                            if (x.Zajete != true)
                            {
                                <option value="@x.Numer">@x.Numer</option>
                            }
                        }
                    </select><br />
                </label>
                   <span asp-validation-for="@Model.Numer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Godzina" class="control-label"></label>
                <input asp-for="@Model.Godzina" class="form-control" />
                <span asp-validation-for="@Model.Godzina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div> 

